{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
{% endblock %}
{% block content %}

    <!-- Open Question -->
    <section id="quesion" class="container content-section text-center inside-template">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading">Pytanie 1 z 12</h1>
            </div>
        </div>

        <form>
            <label for="question_input" class="row col-md-8 col-md-offset-2 form-group" id="question-text">
                Brownie apple pie chocolate
                sugar plum pie pudding cotton candy sesame snaps. Apple pie bonbon biscuit
                cotton candy. Jujubes dessert dragée dragée pudding pie pie oat cake. Pudding muffin sweet
                jelly lollipop toffee bonbon halvah sweet roll.</label>

            <div class="col-md-8 col-md-offset-2" id="question-input">
                <textarea class="form-control" id="question_input" rows="8">
                </textarea>
            </div>

            <div class="col-md-8 col-md-offset-2" id="question-button">
                <div class="col-lg-8 col-md-8"></div>
                <a href="/test/{{ test_id }}/{{ next_question_id }}" class="btn btn-default col-lg-4" id="question_button">
                    Dalej
                </a>
            </div>
        </form>
    </section>
{% endblock %}