{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
{% endblock %}

{% block content %}

    <section id="menu" class="container content-section text-center inside-template">

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-100" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="mymodal-body">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            {% for message in messages %}
                                {% if forloop.first %}
                                    {{ message.tags }}
                                {% endif %}
                            {% endfor %}
                        </h5>
                    </div>
                    <div class="modal-body">
                        {% for message in messages %}
                            {% if forloop.first %}
                                {{ message }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Zamknij</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="text-center">
                <h2>Twoje dane </h2></p>
                <div class="personal-data">

                    <h4>Login: {{ user.get_username }} </h4>
                    <h4>Imię: {{ user.first_name }} </h4>
                    <h4>Nazwisko: {{ user.last_name }} </h4>
                    <h5>Nr indeksu: {{ index_nr }} </h5>
                </div>
            </div><!--/col-sm-6-->
        </div><!--/row-->


        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="text-center">
                <h2>Zmień hasło </h2> </p>
                <form method="post" class="password-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-default btn-selected btn-lg" data-loading-text="Zmiana hasła..."
                           value="Zapisz zmiany">
                </form>
            </div><!--/col-sm-6-->
        </div><!--/row-->
    </section>


    <script>
        {% if messages %}
            $('#myModal').modal('show');
        {% endif %}
    </script>
{% endblock %}