{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
{% endblock %}
{% block content %}

    <!-- Menu Section -->
    <section id="menu" class="container content-section text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading">Aktywne kolokwia</h1>
            </div>
        </div>
        <div class="row col-lg-12" id="test-options">
            <a href="" class="btn btn-default btn-lg test-option">
                    <span class="test-name">
                        <h3>Python - kolokwium 1</h3>
                    </span>
                <p class="test-description">15 pytań | Dostępny: 15.01.2018 18.00 - 15.01.2018 20.00</p>
            </a>
        </div>
        <div class="row col-lg-12" id="test-options">
            <a href="" class="btn btn-default btn-lg test-option">
                    <span class="test-name">
                        <h3>Python - kolokwium 2</h3>
                    </span>
                <p class="test-description">15 pytań | Dostępny: 15.01.2018 18.00 - 15.01.2018 20.00</p>
            </a>
        </div>
        <div class="row col-lg-12" id="test-options">
            <a href="" class="btn btn-default btn-lg test-option">
                    <span class="test-name">
                        <h3>Python - kolokwium 3</h3>
                    </span>
                <p class="test-description">15 pytań | Dostępny: 15.01.2018 18.00 - 15.01.2018 20.00</p>
            </a>
        </div>
    </section>
{% endblock %}