{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
{% endblock %}
{% block content %}

    <!-- Menu Section -->
    <section id="menu" class="container content-section text-center inside-template">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading">{{ title }}</h1>
            </div>
        </div>
        <!-- todo form w którym będziemy wyswietlac rozne pytania i od razu bedziemy mogli wpisac odpowiedz i wszystko to na jednej stronie -->
        {{ q }}
        {{ t }}
    </section>
{% endblock %}