{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tstr</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{% static "vendor/jquery/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Custom Fonts -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static "css/grayscale.css" %}"/>

    <!-- Codemirror -->
    <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror/theme/base16-dark.css' %}">
    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/addon/edit/matchbrackets.js' %}"></script>
    <script src="{% static 'codemirror/mode/python/python.js' %}"></script>

    <!-- Timer -->
    <script type="text/javascript" src="{% static "js/jquery.countdown.min.js" %}"></script>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/#page-top">
                <span class="light">TSTR</span> alfa
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="/menu">Witaj, {{ user.get_username }}</a>
                    </li>
                {% else %}
                    <li>
                        <a class="page-scroll" href="/#login">Zaloguj się</a>
                    </li>
                {% endif %}
                <li>
                    <a class="page-scroll" href="/#about">O projekcie</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#contact">Kontakt</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="{% url 'logout' %}">Wyloguj się</a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>



{% block header %}
{% endblock %}
{% block content %}
{% endblock %}

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; II UJ 2017</p>
    </div>
</footer>


<!-- Theme JavaScript -->
<script src="{% static "js/grayscale.js" %}"></script>
</body>
</html>